/* PendaftaranOnline Styles */


@font-face {
    font-family: 'latoregular';
    src: url('../fonts/lato-regular-webfont.eot');
    src: url('../fonts/lato-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/lato-regular-webfont.woff2') format('woff2'),
         url('../fonts/lato-regular-webfont.woff') format('woff'),
         url('../fonts/lato-regular-webfont.ttf') format('truetype'),
         url('../fonts/lato-regular-webfont.svg#latoregular') format('svg');
    font-weight: normal;
    font-style: normal;

}

body {
  border-top: 7px solid #8eaa55;
  overscroll-behavior: contain;
   font-family: 'latoregular', sans-serif;
  /* overscroll-behavior-y: none; */
}

* {
  margin: 0;
  padding: 0;
}

/* General */
.btn-primary {
  background: #8eaa55;
  border-color: #8eaa55;
  color: #fff;
}

.btn-primary:hover,
.btn-primary:focus {
  background: #7f994d;
  border-color: #7f994d;
  color: #fff;
}

.form-control:focus {
  border-color: #ccc;
  box-shadow: none;
}

.no-padding {
  padding-left: 0;
  padding-right: 0;
}

a {
  color: #000;
}

a:hover {
  color: #000;
  text-decoration: none;
}

.float-none {
  float: none;
}

.nav>li>a {
  padding: 5px 10px;
}

/* custom inclusion of right, left and below tabs */

.tabs-below > .nav-tabs,
.tabs-right > .nav-tabs,
.tabs-left > .nav-tabs {
  border-bottom: 0;
  padding-right: 0;
}

.tab-content > .tab-pane,
.pill-content > .pill-pane {
  display: none;
}

.tab-content > .active,
.pill-content > .active {
  display: block;
}

.tabs-below > .nav-tabs {
  border-top: 1px solid #ddd;
}

.tabs-below > .nav-tabs > li {
  margin-top: -1px;
  margin-bottom: 0;
}

.tabs-below > .nav-tabs > li > a {
  -webkit-border-radius: 0 0 4px 4px;
     -moz-border-radius: 0 0 4px 4px;
          border-radius: 0 0 4px 4px;
}

.tabs-below > .nav-tabs > li > a:hover,
.tabs-below > .nav-tabs > li > a:focus {
  border-top-color: #ddd;
  border-bottom-color: transparent;
}

.tabs-below > .nav-tabs > .active > a,
.tabs-below > .nav-tabs > .active > a:hover,
.tabs-below > .nav-tabs > .active > a:focus {
  border-color: transparent #ddd #ddd #ddd;
}

.tabs-left > .nav-tabs > li,
.tabs-right > .nav-tabs > li {
  float: none;
}

.tabs-left > .nav-tabs > li > a,
.tabs-right > .nav-tabs > li > a {
  min-width: 74px;
  margin-right: 0;
  margin-bottom: 3px;
}

.tabs-left > .nav-tabs {
  float: left;
  border-right: 1px solid #ddd;
}

.tabs-left > .nav-tabs > li > a {
  margin-right: -1px;
  -webkit-border-radius: 4px 0 0 4px;
     -moz-border-radius: 4px 0 0 4px;
          border-radius: 4px 0 0 4px;
}

.tabs-left > .nav-tabs > li > a:hover,
.tabs-left > .nav-tabs > li > a:focus {
  border-color: #eeeeee #dddddd #eeeeee #eeeeee;
}

.tabs-left > .nav-tabs .active > a,
.tabs-left > .nav-tabs .active > a:hover,
.tabs-left > .nav-tabs .active > a:focus {
  border-color: #ddd transparent #ddd #ddd;
  *border-right-color: #ffffff;
}

.tabs-right > .nav-tabs {
  float: right;
  margin-left: 19px;
  border-left: 1px solid #ddd;
}

.tabs-right > .nav-tabs > li > a {
  margin-left: -1px;
  -webkit-border-radius: 0 4px 4px 0;
     -moz-border-radius: 0 4px 4px 0;
          border-radius: 0 4px 4px 0;
}

.tabs-right > .nav-tabs > li > a:hover,
.tabs-right > .nav-tabs > li > a:focus {
  border-color: #eeeeee #eeeeee #eeeeee #dddddd;
}

.tabs-right > .nav-tabs .active > a,
.tabs-right > .nav-tabs .active > a:hover,
.tabs-right > .nav-tabs .active > a:focus {
  border-color: #ddd #ddd #ddd transparent;
  *border-left-color: #ffffff;
}


/* Header */
.header {
  border-bottom: 1px solid #efefef;
  overflow: auto;
  padding: 5px 0;
}

.logo {
  margin-right: 20px;
}

/* Content */
.content {
  overflow: auto;
}

.tab-content {
    padding: 10px 15px;
}

.subheader {
  margin-bottom: 20px;
}

.proses {
  margin-top: 20px;
}

/* Footer */
.footer {
  border-top: 1px solid #efefef;
  margin-top: 20px;
  padding: 10px 15px;
}

#calculator {
  width: 335px;
  height: 270px;;
  margin: 10px auto;
  background-color: #8eab55;
  padding: 10px 10px 260px 10px;
  border-radius: 5px;
  border-bottom: 5px solid #6c8638;
}

.result {
  width: 200px;
  height: 40px;
  float: left;
  line-height: 40px;
  background-color: #fff;
  color: #000;
  margin: 5px;
}

.result > p {
  margin-left: 10px;
}

.clear, span {
  height: 40px;
  border-bottom: 3px solid grey;
  border-radius: 10px;
  text-align: center;
  line-height: 40px;
  cursor: pointer;
  background-color: #ecf0f1;
  color: #2c3e50;
  margin: 5px;
} 

.clear {
  width: 95px;
  float: left;
  background-color: #c0392b;
  color: #fff;
  border-color: #A63125;
}

span {
  float: left;
  width: 95px;
}

span:hover{
  background-color:#6c8638;
  color: #fff;
}

@media print
{
  body * { visibility: hidden; }
  .header * { visibility: visible; }
  #printable * { visibility: visible; }
  #printable { position: absolute; top: 0; }
}

